@import "../../color-library.scss";

.navbar-dark {

  .navbar-brand {
    color: $light-color;
  }

  .navbar-nav {

    .nav-link {
      color: $light-color;
    }

  }
}

.navbar-dark{
    background-color: $dark-color;
}
